<%= title("All Paths") %>

<div class="bg-gray-100">
<div class="odin-container">
  <h1 class="page-heading-title">All Paths</h1>

  <%= render CardComponent.new do |card| %>
    <% card.header(classes: "flex justify-between items-center flex-col md:flex-row space-y-4 md:space-y-0 ") do %>
      <div class="flex flex-col space-y-5 md:space-x-6 md:space-y-0 md:flex-row items-center">
        <%= image_tag PATH_BADGES.fetch(@default_path.title), alt: "#{@default_path.title} badge", class: 'w-28 h-28' %>
        <div class="flex items-center flex-col sm:block">
          <h3 class="text-1xl mb-1 text-gold-600">PREREQUISITE PATH</h3>
          <h2 class="text-3xl font-semibold">Foundations</h2>
        </div>
      </div>
    <% end %>

    <% card.body do %>
      <p class="text-gray-700 leading-normal text-base"><%= @default_path.description %></p>
    <% end %>

    <% card.footer do |card| %>
      <div class="flex space-x-6">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Button text</button>
        <%= render Paths::SelectButtonComponent.new(current_user: current_user, path: @default_path)%>
        <%= button_to path_url(@default_path), method: :get, class: 'text-lg inline-flex items-center px-20 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500'  do %>
          Explore
        <% end %>
      </div>
      <% end %>
  <% end %>

  <div class="relative mb-10 mt-10">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="px-3 bg-white text-2xl font-semibold text-gray-900"> Then choose a learning path: </span>
    </div>
  </div>

  <div class="flex gap-x-6 gap-y-6 flex-col md:flex-row">
    <% @paths.each do |path| %>

      <%= render CardComponent.new do |card| %>
        <% card.header(classes: "flex flex-col justify-between items-center") do %>
          <div>
            <%= image_tag PATH_BADGES.fetch(path.title), alt: "#{path.title} badge", class: 'w-28 h-28' %>
          </div>

          <div class="w-full flex justify-between pt-6">
            <p class="text-lg text-gold-600">PATH</p>
            <p class="text-lg text-gray-500"><%= path.lessons.size %> LESSONS</p>
          </div>
        <% end %>

        <% card.body do %>
          <h2 class="text-2xl font-semibold pb-4"><%= path.title %></h2>
          <p class="text-gray-700 leading-normal text-base"><%= path.description %></p>
        <% end %>

        <% card.footer do %>
          <div class="flex flex-col space-y-4 items-center">
          <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Button text</button>
            <%= render Paths::SelectButtonComponent.new(current_user: current_user, path: path)%>
            <%= button_to path_url(@default_path), method: :get, class: 'text-lg inline-flex items-center px-20 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500', form_class: "w-full"  do %>
              Explore
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end%>
  </div>
</div>
</div>
