<%= title("All Paths") %>

<div class="bg-gray-100">
<div class="odin-container">
  <h1 class="page-heading-title">All Paths</h1>

  <%= render CardComponent.new do |card| %>
    <% card.header(classes: "flex justify-between items-center flex-col sm:flex-row space-y-4 sm:space-y-0 ") do %>
      <div class="flex flex-col space-y-5 sm:space-x-6 sm:space-y-0 sm:flex-row items-center">
        <%= image_tag PATH_BADGES.fetch(@default_path.title), alt: "#{@default_path.title} badge", class: 'w-24 h-24' %>
        <div class="flex items-center flex-col sm:block">
          <h3 class="text-1xl mb-1 text-gold-600">PREREQUISITE PATH</h3>
          <h2 class="text-3xl font-semibold">Foundations</h2>
        </div>
      </div>
    <% end %>

    <% card.body do %>
      <p class="text-gray-700 leading-normal text-base"><%= @default_path.description %></p>
    <% end %>

    <% card.footer do |card| %>
      <div class="flex space-x-6 sm:items-center">

        <%= button_to path_url(@default_path), method: :get, class: 'top-btn top-btn-secondary px-16 py-3'  do %>
          Explore
        <% end %>
          <%= render Paths::SelectButtonComponent.new(current_user: current_user, path: @default_path, classes: "px-16 py-3")%>
      </div>
      <% end %>
  <% end %>

  <div class="relative mb-10 mt-10">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="px-3 bg-gray-100 text-2xl font-semibold text-gray-900"> Then choose a learning path: </span>
    </div>
  </div>

  <div class="flex gap-x-10 gap-y-6 flex-col md:flex-row">
    <% @paths.each do |path| %>

      <%= render CardComponent.new do |card| %>
        <% card.header(classes: "flex flex-col justify-between items-center") do %>
          <div>
            <%= image_tag PATH_BADGES.fetch(path.title), alt: "#{path.title} badge", class: 'w-28 h-28' %>
          </div>

          <div class="w-full flex justify-between pt-6">
            <p class="text-lg text-gold-600">PATH</p>
            <p class="text-lg text-gray-500"><%= path.courses.size %> Courses</p>
          </div>
        <% end %>

        <% card.body do %>
          <div class="md:h-52">
            <h2 class="text-2xl font-semibold pb-4"><%= path.title %></h2>
            <p class="text-gray-700 leading-normal text-base"><%= path.description %></p>
          </div>
        <% end %>

        <% card.footer do %>
          <div class="flex space-x-6 items-center">

            <%= button_to path_url(path), method: :get, class: 'top-btn top-btn-secondary px-16 md:px-10 py-3'  do %>
              Explore
            <% end %>
            <%= render Paths::SelectButtonComponent.new(current_user: current_user, path: path, classes: 'px-16 md:px-10 py-3 w-full')%>
          </div>
        <% end %>
      <% end %>
    <% end%>
  </div>
</div>
</div>
